<h2>Add a word to the dictionary</h2>

<form action="/words" method="post">
  <div class="form-group">
    <label for="term">Your Word:</label>
    <input type="text" name="term" id="term" class="form-control">
  </div>
  <button type="submit" class="btn btn-primary">Add Word!</button>
</form>
