<h2> Term: <%= @word.term() %></h2>

<h3>Definitions:</h3>

<ul>
  <% @definitions.each() do |definition| %>
    <li><strong><%= definition.part() %></strong> <%= definition.def() %></li>
  <% end %>
</ul>

<form action="/words/<%= @word.id() %>/definitions/new" method="get">
  <button type="submit" id="btn_add_def" class="btn btn-success">Add Definition</button>
</form>

<form action="/" method="get">
  <button type="submit" id="btn_home" class="btn btn-primary">Word List</button>
</form>
